*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
@mixin flex-row {
    display: flex;
    flex-direction: row;
}
@mixin flex-column {
    display: flex;
    flex-direction: column;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
body{
    background-color: rgb(22, 22, 22);
}

header{
    position: sticky;
    top: 0;
    left: 0;
    background-color: #2e2d2f;
    width: 100%;
    z-index: 1000;
    #i-close{
        display: none;
        position: absolute;
        top: 283px;
        right: 48%;
        z-index: 100000000;
        font-size: 25px;
        padding: 8px;
        color: #a1a1a1;
        border-radius: 50%;
        background-color: #2e2d2f;
    }
.items-input{
    @include flex-column();
    overflow-y: scroll;
    overflow-x: hidden;
    cursor: pointer;
    position: absolute;
    top: 40px;
    right: 130px;
    width: 296px;
    height: 260px;
    display: none;
    background-color: #252425;
    z-index: 10000000;

    #d-item-img-i-akhar{
        border-bottom: none;
    }
    .d-item-img-i{
        @include flex-row();
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #666666;
        margin: 5px 10px;
        padding: 5px;
        padding-bottom: 15px;
        .d-img{
            @include flex-row();
            justify-content: center;
            align-items: center;
            img{
                width: 20px;
                height: 20px;
            }
            p{
                color: #a1a1a1;
                margin-left: 10px;
                font-weight: 600 ;
            }
        }
        .d-i{
            @include flex-row();
            justify-content: center;
            align-items: center;
            color: #474747;
            i{
                width: 100%;
                height: 100%;
                background-color: transparent;
                color: rgba(160, 160, 160, 0.2);
                font-size: 14px;
                margin-left: 20px;
            }
        }
    }
}
form{
    @include flex-row();
    align-items: center;
    height: 40px;
    color: #6b6b6b;
    .i-input{
        color: #6b6b6b !important;
        background-color: transparent !important;
    }
    input{
        background-color: transparent;
        border: none;
        width: 250px;
        &:focus{
            outline: none;
        }
        &::placeholder{
            font-size: 16px;
            font-weight: 500 ;
        }
    }
}
    .sec-1300px{
        position: sticky;
        top: 0;
        left: 0;
        display: none;
        height: 100%;
        @media (max-width:1300px) {
            @include flex-row();
            justify-content: space-between;
        }
        #input-search{
            display: none;
            width: 100%;
            background-color: #252425;
            border: none;
            &:focus{
                outline: none;
            }
            &::placeholder{
                font-size: 17px;
                font-weight: 600;
                padding: 10px;
            }
        }
        .d-1-sec-1300px{
            @include flex-row();
            align-items: center;

            .navbar-items{
                @include flex-column();
                transition: 0.3s;
                position: absolute;
                top: 0;
                left: -200px;
                width: 200px;
                height: 100vh;
                overflow-y: scroll;
                background-color: #3f3f3f;
                border-radius: 0;
                div{
                    background-color: #3f3f3f;
                    align-self: flex-start;
                }
                img{
                    background-color: #3f3f3f;
                    padding: 10px;

                }
                .item-nav{
                    @include flex-column();
                    align-items: flex-start;
                    background-color: #3f3f3f;
                    width: 100%;
                    border-radius: 0;
                    border-top: 1px solid #666666;
                    .item-about{
                        display: none;
                        flex-direction: column;
                        align-items: flex-start;
                        width: 100%;
                        margin-left: 40px;
                        margin-bottom: 130px;
                        a{
                            margin: 10px;
                        }
                    }
                    a{
                        font-weight: 600;
                        color: #6b6b6b;
                        margin: 15px 15px;
                        
                    }
                    i{
                        font-size: 12px;
                        padding-left: 20px;
                    }
                    .a-green{
                        color: #4fac63;
                    }
                    .a-red{
                        color: #bb5168;
                    }

                }
                .i-p-navbar{
                    @include flex-column();
                    margin-left: 10px;
                    color: #fff;
                    i{
                        font-size: 20px;
                        padding: 5px;
                        margin: 0 5px;
                        background-color: #474747;
                    }
                    .p-navbar{
                        width: 190px;
                        margin: 10px 0;
                        border-radius: 0;
                        p{
                            @include flex-row();
                            width: 100%;
                            font-size: 12px;
                        }
                    }

                }
                .nav-item-i{
                    @include flex-column();
                    height: 100%;
                    width: 100%;
                    justify-content: space-between;
                }
            }
            button{
                border: none;
                background-color: #3f3f3f;
                color: #fff;
                padding: 13px 15px;
                i{
                    font-size: 20px;
                }
            }
            img{
                margin: 10px;
            }
            .i1-d-1-sec-1300px{
                color: #4fac63;
                background-color: #2e2d2f;
                border-radius: 25px ;
                padding: 0 5px;
            }
            .i2-d-1-sec-1300px{
                color: #2e2d2f;
                padding-right: 5px
            }
            div{
                @include flex-row();
                justify-content: space-between;
                align-items: center;
                border-radius: 25px;
                width: 75px;
                background-color: #4fac63;
            }
        }
        .d-2-sec-1300px{
            @include flex-row();
            align-items: center;
            justify-content: center;
            i{
                padding: 5px;
            }
            .fa-btc{
                color: #fff;
                margin: 11px;
            }
            .material-icons{
                color: #6b6b6b;
                margin: 11px;
                padding: 0;
            }
        }
    }

    .sec-1-header{
        @include flex-row();
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 1000000000000000;
        width: 100%;
        height: 100%;
        background-color: #2e2d2f;
        @media (max-width:1300px) {
            display: none;
        }
        .d-1-sec-1-header{
            @include flex-row();
            align-items: center;
            background-color: #2e2d2f;
            position: relative;
            img{
                margin-left: 15px;
            }
            ul{
                @include flex-row();
                align-items: center;
                height: 40px;
                padding-left: 25px;
                li{
                    a{
                        font-size: 17px;
                        font-weight: 600;
                        color: #6b6b6b;
                        padding:9px 15px;
                        &:hover{
                            background-color: rgba(0, 27, 4, 0.2);
                            border-bottom: 2px solid #104b1d;
                        }
                    }
                    .a-4-header{
                        color: #3f754b;
                    }
                    .a-5-header{
                        color: #a03c51;
                    }
                }
            }
            button{
                background-color: transparent;
                border: none;
                cursor: pointer;
                i{
                    color: #6b6b6b;
                    font-size: 33px;
                }
                &:hover{
                    background-color: rgba(0, 27, 4, 0.2);
                    border-bottom: 2px solid #104b1d;
                }
            }
        }
        .d-2-sec-1-header{
            @include flex-row();
            align-items: center;
            background-color: #252425;
            position: relative;
            
            i{
                @include flex-row();
                align-items: center;
                justify-content: center;
                color: #4fac63;
                background-color: #2e2d2f;
                width: 40px;
                height: 40px;
                margin: 0 2px;
                font-size: 20px;
            }
        }

    }

    .d-more-to-show{
        @include flex-row();
        align-items: center;
        position: absolute;
        top: -90px;
        left: 0;
        z-index: 100000000;
        height: 125px;
        background-color: rgb(22, 22, 22);
        width: calc(100% - 40px);
        padding: 0 20px ;
        transition: 0.4s;
        @media (max-width:1300px) {
            display: none;
        }
        div{
            width: 20%;
            margin: 50px 20px ;
            a{
                color: rgb(207, 207, 207);

            }
            p{
                color: #6b6b6b;
                padding-top: 10px;
                font-size: 12.5px;
            }
        }
    }

    .sec-2-header{
        @include flex-row();
        align-items: center;
        justify-content: space-between;
        padding: 0px 5px 0 0;
        background-color: rgb(22, 22, 22);
        @media (max-width:1300px) {
         display: none;   
        }
        .d-1-sec-2-header{
            @include flex-row();
            align-items: center;
            .btn-sec-2-header[title]{
                background-color: #2e2d2f; /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
            }
            .d-btn-sec-2-header{
                @include flex-row();
                align-items: center;
                justify-content: center;
                background-color: rgb(22, 22, 22);
                padding: 5px;
                position: relative;
                z-index: 1000000;
            }
            .btn-sec-2-header{
                @include flex-row();
                align-items: center;
                justify-content: center;
                border: none;
                cursor: pointer;
                background-color: #2e2d2f;
                height: 30px;
                font-size: 14px;
                margin: 0 2px 0 0;
                border-radius: 2px;
                width: 30px;
                position: relative;
                &:hover{
                    transition: 0.3s;
                    background-color:  rgba(58, 56, 58, 0.9);
                }
            }
            #i1-slider ,#i2-slider
            ,#i3-slider,#i4-slider
            ,#i5-slider{
                font-size: 10px;
            }
            .more-slider-header-bottom{
                @include flex-column();
                position: absolute;
                top: 34px;
                display: none;
                background-color: #2e2d2f;
                border-radius: 3px;
                color: #fff;
                padding: 15px 25px 15px 5px;
                font-size: 14px;

                div{
                    @include flex-row();
                    align-items: center;
                    margin: 7px 0;
                }
                i{
                    font-size: 15px;
                }
                i:empty{
                    width: 15px;
                }
            }
            .d-1-more-slider{
                left: 2px;
                margin: 0;
                padding: 0;
                padding: 5px 0 5px 0;
                div{
                    cursor: pointer;
                    margin: 0;
                    padding: 10px;
                    padding-right: 35px;
                    &:hover{
                        background-color: #3f3f3f;
                    }
                }
            }
            .d-2-more-slider{
                left: 181px;
                margin: 0;
                padding: 0;
                padding: 5px 0 5px 0;
                div{
                    cursor: pointer;
                    margin: 0;
                    padding: 10px;
                    padding-right: 35px;
                    &:hover{
                        background-color: #3f3f3f;
                    }
                }
            }
            .d-3-more-slider{
                left: 343px;
                margin: 0;
                padding: 0;
                padding: 5px 0 5px 0;
                div{
                    cursor: pointer;
                    margin: 0;
                    padding: 10px;
                    padding-right: 35px;
                    &:hover{
                        background-color: #3f3f3f;
                    }
                }
            }
            .d-4-more-slider{
                left: 514px;
                margin: 0;
                padding: 0;
                padding: 5px 0 5px 0;
                div{
                    cursor: pointer;
                    margin: 0;
                    padding: 10px;
                    padding-right: 35px;
                    &:hover{
                        background-color: #3f3f3f;
                    }
                }
            }
            .d-5-more-slider{

                left: 699px;
                padding: 0;

                .d-1-d-5-more-slider{
                    background-color: #252425;
                    width: calc(100% - 14px);
                    padding: 7px;
                    margin: 0;
                    p.gray{
                        font-size: 16px;
                    }
                    a{
                        color: #fff;
                        padding: 5px;
                        border-radius: 2px;
                        margin: 0 5px;
                    }
                    .a-1-range{
                        background-color: #2e2d2f;
                        margin-left: 50px;
                    }
                    .a-2-range{
                        background-color: #3f754b;
                    }
                }
                .d-2-d-5-more-slider{
                    @include flex-row();
                    justify-content: center;
                    align-items: center;
                    padding-bottom: 10px;
                    input{
                        margin-top:25px;
                        width: 90%;
                        accent-color:#3f754b;
                        height: 2px;

                    }
                }

            }
            .d-6-more-slider{
                left: 821px;
                padding: 0;

                .d-1-hide{
                    background-color: #252425;
                    margin: 0;
                    height: 40px;
                    input{
                        width: 100%;
                        background-color: transparent;
                        border: none;
                        &:focus{
                            outline: none;
                        }
                        &::placeholder{
                            padding-left: 20px;
                            font-size: 16px;
                        }
                    }
                    button{
                        color: #fff;
                        font-weight: 600;
                        font-size: 15px;
                        margin-right: 5px
                    }
                }
                .d-2-hide{
                    @include flex-row();
                    flex-wrap: wrap;
                    background-color: #2e2d2f;
                    cursor: pointer;
                    width: 435px;
                    height: 195px;
                    overflow-y: scroll;
                    &::-webkit-scrollbar {
                        width: 5px;

                      }
                      &::-webkit-scrollbar-track {
                        background: transparent;
                      }

                      &::-webkit-scrollbar-thumb {
                        background: #6b6b6b;
                        border-radius: 5px;
                      }
                    img{
                        width: 20px;
                        height: 20px;
                        padding-right: 8px;
                    }
                    div{

                        width: 22%;
                        padding:6px 20px;
                        margin:0;
                        &:hover{
                            background-image: linear-gradient(to right,#474747,#2e2d2f);
                        }
                    }
                    .p1-d-2-hide{
                        color: #adadad;
                        font-weight: 600;
                        font-size: 16px;
                        padding-right: 5px;
                    }
                    .p2-d-2-hide{
                        color: #6b6b6b;
                        font-size: 12px;
                    }
                }
            }
            #i-header-bottom{

                color: #6b6b6b;
            }
            div{
                @include flex-row();
                button{
                    @include flex-row();
                    align-items: center;
                    cursor: pointer;
                    border: none;
                    background-color: #2e2d2f;
                    height: 30px;
                    font-size: 14px;
                    margin: 0 2px;
                    border-radius: 2px;
                    &:hover{
                        transition: 0.3s;
                        background-color:  rgba(58, 56, 58, 0.9);
                    }
                }
                .btn-rest{
                    background-color: transparent;
                    &:hover{
                        background-color: transparent;
                    }
                }
            }
            i{
                color: #fff;
                margin: 0 5px;
            }
            .gray{
                color: #6b6b6b;
            }
            .white{
                color: #fff;
                margin: 0 5px;
            }
            #slider-btns-to-show{
                transition: 0.5s;
                position: absolute;
                top: 45px;
                left: 40px;
            }
        }
        .d-2-sec-2-header{
            @include flex-row();
            align-items: center;
            .d-view{
                @include flex-row();
                align-items: center;
                margin: 0 5px;
                background-color: #2e2d2f;
                height: 30px;
                padding: 0 10px;
                border-radius: 2px;
                font-size: 14px;
                p{
                    color: #fff;
                    padding: 0 5px;
                }
                i{
                    color: #6b6b6b;
                }
                &:hover{
                    transition: 0.3s;
                    background-color:  rgba(58, 56, 58, 0.9);
                }
            }

            button{
                @include flex-row();
                align-items: center;
                cursor: pointer;
                margin: 0 5px;
                background-color: #2e2d2f;
                height: 30px;
                padding: 0 10px;
                border-radius: 2px;
                font-size: 14px;
                border: none;
                &:hover{
                    transition: 0.3s;
                    background-color:  rgba(58, 56, 58, 0.9);
                }
                p{
                    color: #fff;
                    padding: 0 5px;
                }
                i{
                    color: #6b6b6b;
                }
            }

            .chose-country{
                position: absolute;
                top: 80px;
                right: 54px;
                display: none;
                background-color: #2e2d2f;
                width: 250px;
                border-radius: 3px;
                .country ,.ramzarz{
                    @include flex-row();
                    flex-wrap: wrap;

                    div{
                        @include flex-row();
                        padding: 8px 15px;
                        opacity: 0.4;
                        cursor: pointer;
                        &:hover{
                            opacity: 1;
                            background-color: #3f3f3f;
                            p{
                                color: #fff;
                            }

                        }
                        p{
                            margin-left: 7px;
                            color: #6b6b6b;
                            font-size: 13px;
                        }
                    }

                }
                .ramzarz{
                    border-top: 2px solid #6b6b6b;
                }
            }
        }
    }

}



main{
    overflow: hidden;
    display: grid;
    width: 100vw;
    height: 88.9vh;
    grid-template-columns: repeat(12,fr);
    grid-template-rows: repeat(8,fr);
    gap: 5px;
    grid-template-areas:  "sec-1 sec-1 sec-1 sec-1 sec-1 sec-2 sec-2 sec-2 sec-2 sec-10 sec-10 sec-10"
    "sec-1 sec-1 sec-1 sec-1 sec-1 sec-2 sec-2 sec-2 sec-2 sec-10 sec-10 sec-10"
    "sec-1 sec-1 sec-1 sec-1 sec-1 sec-2 sec-2 sec-2 sec-2 sec-10 sec-10 sec-10"
    "sec-1 sec-1 sec-1 sec-1 sec-1 sec-2 sec-2 sec-2 sec-2 sec-10 sec-10 sec-10"
    "sec-1 sec-1 sec-1 sec-1 sec-1 sec-3 sec-3 sec-5 sec-8 sec-11 sec-11 sec-11"
    "sec-1 sec-1 sec-1 sec-1 sec-1 sec-3 sec-3 sec-5 sec-8 sec-11 sec-11 sec-11"
    "sec-1 sec-1 sec-1 sec-1 sec-1 sec-4 sec-4 sec-6 sec-9 sec-12 sec-12 sec-13"
    "sec-1 sec-1 sec-1 sec-1 sec-1 sec-4 sec-4 sec-7 sec-9 sec-12 sec-12 sec-13";
    @media (max-width:1300px) {
        height: 88.5vh;
        top: 50px;
    }
    @media (max-width:1100px) {
        .sec-13-main{
            display: none;
        }
        grid-template-columns: repeat(10,fr);
        grid-template-rows: repeat(10,fr);
        grid-template-areas: "sec-1  sec-1 sec-1 sec-1 sec-1 sec-1 sec-1 sec-1 sec-10 sec-10"
        "sec-1  sec-1 sec-1 sec-1 sec-1 sec-1 sec-1 sec-1 sec-10 sec-10 "
        "sec-1  sec-1 sec-1 sec-1 sec-1 sec-1 sec-1 sec-1 sec-10 sec-10 "
        "sec-1  sec-1 sec-1 sec-1 sec-1 sec-1 sec-1 sec-1 sec-10 sec-10 "
        "sec-1  sec-1 sec-1 sec-1 sec-1 sec-1 sec-1 sec-1 sec-10 sec-10 "
        "sec-1  sec-1 sec-1 sec-1 sec-1 sec-1 sec-1 sec-1 sec-11 sec-11 "
        "sec-2 sec-2 sec-2 sec-2 sec-3 sec-3 sec-5 sec-8 sec-11 sec-11"
        "sec-2 sec-2 sec-2 sec-2 sec-3 sec-3 sec-5 sec-8 sec-11 sec-11"
        "sec-2 sec-2 sec-2 sec-2 sec-4 sec-4 sec-6 sec-7 sec-12 sec-12"
        "sec-2 sec-2 sec-2 sec-2 sec-4 sec-4 sec-9 sec-9 sec-12 sec-12";

    }
    @media (max-width:840px) {
        grid-template-columns: repeat(9,fr);
        grid-template-rows: repeat(13,fr);
        grid-template-areas: "sec-1 sec-1 sec-1 sec-1 sec-1 sec-2 sec-2 sec-2 sec-2"
        "sec-1 sec-1 sec-1 sec-1 sec-1 sec-2 sec-2 sec-2 sec-2"
        "sec-1 sec-1 sec-1 sec-1 sec-1 sec-2 sec-2 sec-2 sec-2"
        "sec-1 sec-1 sec-1 sec-1 sec-1 sec-2 sec-2 sec-2 sec-2"
        "sec-1 sec-1 sec-1 sec-1 sec-1 sec-2 sec-2 sec-2 sec-2"
        "sec-1 sec-1 sec-1 sec-1 sec-1 sec-3 sec-3 sec-5 sec-8"
        "sec-1 sec-1 sec-1 sec-1 sec-1 sec-3 sec-3 sec-5 sec-8"
        "sec-1 sec-1 sec-1 sec-1 sec-1 sec-3 sec-3 sec-6 sec-7"
        "sec-1 sec-1 sec-1 sec-1 sec-1 sec-4 sec-4 sec-6 sec-7"
        "sec-1 sec-1 sec-1 sec-1 sec-1 sec-4 sec-4 sec-9 sec-9"
        "sec-10 sec-10 sec-10 sec-10 sec-11 sec-11 sec-12 sec-12 sec-12"
        "sec-10 sec-10 sec-10 sec-10 sec-11 sec-11 sec-12 sec-12 sec-12"
        "sec-10 sec-10 sec-10 sec-10 sec-11 sec-11 sec-12 sec-12 sec-12";


        .sec-13-main{
            display: none;
        }
    }
    @media (max-width:770px) {
        .sec-13-main{
            display: inline-block;
        }
        .sec-7-main{
            display: none;
        }
        grid-template-columns: repeat(12,fr);
        grid-template-rows: repeat(15,fr);
        grid-template-areas: "sec-1 sec-1 sec-1 sec-1 sec-1 sec-1 sec-1 sec-1 sec-1 sec-1 sec-1 sec-1"
        "sec-1 sec-1 sec-1 sec-1 sec-1 sec-1 sec-1 sec-1 sec-1 sec-1 sec-1 sec-1"
        "sec-1 sec-1 sec-1 sec-1 sec-1 sec-1 sec-1 sec-1 sec-1 sec-1 sec-1 sec-1"
        "sec-1 sec-1 sec-1 sec-1 sec-1 sec-1 sec-1 sec-1 sec-1 sec-1 sec-1 sec-1"
        "sec-1 sec-1 sec-1 sec-1 sec-1 sec-1 sec-1 sec-1 sec-1 sec-1 sec-1 sec-1"
        "sec-1 sec-1 sec-1 sec-1 sec-1 sec-1 sec-1 sec-1 sec-1 sec-1 sec-1 sec-1"
        "sec-1 sec-1 sec-1 sec-1 sec-1 sec-1 sec-1 sec-1 sec-1 sec-1 sec-1 sec-1"
        "sec-2 sec-2 sec-2 sec-2 sec-2 sec-2 sec-2 sec-3 sec-3 sec-3 sec-5 sec-8"
        "sec-2 sec-2 sec-2 sec-2 sec-2 sec-2 sec-2 sec-3 sec-3 sec-3 sec-5 sec-8"
        "sec-2 sec-2 sec-2 sec-2 sec-2 sec-2 sec-2 sec-3 sec-3 sec-3 sec-6 sec-6"
        "sec-2 sec-2 sec-2 sec-2 sec-2 sec-2 sec-2 sec-4 sec-4 sec-4 sec-6 sec-6"
        "sec-2 sec-2 sec-2 sec-2 sec-2 sec-2 sec-2 sec-4 sec-4 sec-4 sec-9 sec-9"
        "sec-10 sec-10 sec-10 sec-10 sec-10 sec-10 sec-11 sec-11 sec-11 sec-12 sec-12 sec-12"
        "sec-10 sec-10 sec-10 sec-10 sec-10 sec-10 sec-11 sec-11 sec-11 sec-12 sec-12 sec-12"
        "sec-10 sec-10 sec-10 sec-10 sec-10 sec-10 sec-11 sec-11 sec-11 sec-13 sec-13 sec-13";
    }
    .sec-1-main{
        grid-area: sec-1;
        background-color: #6eb87e;
        div{
            @include flex-column();
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            padding: 0 100px;
        }
        h1{
            font-size: 14vw;
            text-shadow: 5px 5px  rgba(0, 0, 0,0.2);
        }
        h2{
            font-size: 4vw;
        }
        h4{
            font-size: 3vw;
        }
        p{
            font-size: 1.3vw;
        }
    }

    .sec-2-main{
        grid-area: sec-2;
        background-color: #6eb87e;
        div{
            @include flex-column();
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
        }
        h1{
            font-size: 8vw;
            text-shadow: 5px 5px  rgba(0, 0, 0,0.2);
        }
        h2{
            font-size: 3.5vw;
        }
        h4{
            font-size: 2.5vw;
        }
    }

    .sec-3-main{
        grid-area: sec-3;
        background-color: #6eb87e;
        div{
            @include flex-column();
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
        }
    }

    .sec-4-main{
        grid-area: sec-4;
        background-color:#6eb87e;
        div{
            @include flex-column();
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
        }

    }

    .sec-5-main{
        grid-area: sec-5;
        background-color: rgb(207, 97, 103);
        div{
            @include flex-column();
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
        }
 
    }

    .sec-6-main{
        grid-area: sec-6;
        background-color: #6eb87e;
        div{
            @include flex-column();
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
        }
    }

    .sec-7-main{
        grid-area: sec-7;
        background-color: rgb(207, 97, 103);
        div{
            @include flex-column();
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
        }
    }

    .sec-8-main{
        grid-area: sec-8;
        background-color: #6eb87e;
        div{
            @include flex-column();
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
        }
    }

    .sec-9-main{
        grid-area: sec-9;
        background-color: #6eb87e;
        div{
            @include flex-column();
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
        }
    }

    .sec-10-main{
        grid-area: sec-10;
        background-color: #6eb87e;
        div{
            @include flex-column();
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
        }
        h1{
            font-size: 6vw;
            text-shadow: 5px 5px  rgba(0, 0, 0,0.2);
        }
        h2{
            font-size: 2.5vw;
        }
        h4{
            font-size: 1.5vw;
        }
    }

    .sec-11-main{

        grid-area: sec-11;
        background-color: rgb(207, 97, 103);
        div{
            @include flex-column();
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
        }
    }

    .sec-12-main{
        grid-area: sec-12;
        background-color: rgb(207, 97, 103);
        div{
            @include flex-column();
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
        }
    }

    .sec-13-main{
        grid-area: sec-13 ;
        background-color: #6eb87e;
        div{
            @include flex-column();
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
        }
    }


    h3{
        padding-bottom: 3px;
        color: #fff;
        background-color: rgb(22, 22, 22);
        font-size: 15px;
    }

    section{
        @include flex-column();
        justify-content: space-between;
        cursor: pointer;
        &:hover{
            h3{
                background-color: yellow;
                color: black;
            }
        }
        div{
            @include flex-column();
            justify-content: center;
            align-self: center;
            align-items: center;
            color: #fff;
            h1{
                font-weight: 500;
                text-shadow: 5px 5px  rgba(0, 0, 0,0.2);
                font-size: 2.5vw;
            }
            h2{
                font-weight: 400;
                font-size: 1.5vw;
            }
            h4{
                font-weight: 400;
                font-size: 1vw;
            }

        }
        p{
            align-self: center;
            color: #fff;
            margin-bottom: 1em;
        }
    }
        
}


.d-btns-absolute{
    @include flex-column();
    position: absolute;
    top: 80%;
    left: 20px;
    @media (max-width:1300px) {
        display: none;
    }
    button{
        background-color: rgba(0, 0, 0,0.3);
        border: none;
        width: 35px;
        height: 35px;
        margin: 2px 0;
        color: #a1a1a1;
        border-radius: 2px;
    }
    .btn1-absolute{
        font-size: 30px;
    }
    .btn2-absolute{
        font-size: 30px;
    }

}

footer{
    @include flex-row();
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
    height: 40px;
    width: 100%;
    background-color: #1d1d1d;
    @media (max-width:1300px) {
        display: flex;
    }
    .d-1-footer{
        button{
            width: 48px;
            height: 40px;
            background-color: #2e2d2f;
            border: none;
            color: #fff;
            font-size: 30px;
            margin-right: -4px;
        }
    }
    .d-2-footer{
        @include flex-row();
        align-items: center;
        background-color: #2e2d2f;
        height: 100%;
        padding: 0 17px;
        i{
            margin-right: 10px;
            color: #4fac63;
        }
        a{
            color: #adadad;
        }
    }
}

